    #mainImage {
        border-radius: 25px;
        max-width: 100%;
        float: left;
    }
    
    #socialsAndLinks {
        padding-left: 25px;
        padding-top: 25px;
    }
    
    #socialsAndLinks2 {
        vertical-align: middle;
        padding-left: 25px;
        padding-top: 25px;
    }
    
    #mainText {
        padding-top: 25px;
        word-wrap: break-word;
        clear: left
    }
    
    .socialLinks {
        color: inherit;
    }
    
    .socialLinks2 {
        padding-left: 10px;
        color: inherit;
    }
    
    .socialImages {
        width: 70px;
        height: 70px;
    }
    
    .socialImages2 {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
    
    .socialLists {
        padding-bottom: 5px;
    }
    
    .socialLists2 {
        padding-bottom: 15px;
    }
    
    #footerArea {
        padding-top: 15px;
        display: absolute;
        height: 0px;
        top: 40%;
    }
    
    .titleSeparate {
        font-size: 10vw;
        word-wrap: break-word;
    }
    
    #aboutPic {
        vertical-align: middle;
        border-radius: 25px;
        width: 100%;
        height: 100%;
    }
    
    #mainTitle {
        vertical-align: middle;
        margin: auto;
        color: #000;
        text-align: middle;
    }
    
    #design-cast {
        display: flex;
        flex-wrap: wrap;
    }
    
    .member {
        flex: 0 48%;
        margin: 1% 1% 45px 1%;
    }
    
    .member img {
        max-width: 70%;
        display: block;
    }
    
    @media (max-width:480px) {
        .member {
            flex: 0 100%
        }
    }
    
    #projectIDName {
        padding-top: 15px;
    }
    
    .name {
        color: #000;
    }
    
    .ioverlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
    }
    
    .itext {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    #btn_link_container {
        display: flex;
    }
    
    .btn_links {
        flex: 1;
    }