    #mainImage {
        border-radius: 25px;
        max-width: 100%;
        float: left;
    }
    
    #socialsAndLinks {
        padding-left: 25px;
        padding-top: 25px;
    }
    
    #mainText {
        padding-top: 25px;
        word-wrap: break-word;
        clear: left
    }
    
    .socialLinks {
        color: inherit;
    }
    
    .socialImages {
        width: 70px;
        height: 70px;
    }
    
    .socialLists {
        padding-bottom: 5px;
    }
    
    #footerArea {
        padding-top: 15px;
        display: absolute;
        height: 0px;
        top: 40%;
    }